
body{
    background-color: #1c212e;
}

a{
    text-decoration: none;
}

.movie-col1{
   background-color: #131722;
}
.video-container{
   display: flex;
   justify-content: center;
   padding: 10px;
}
iframe{
    border: 0;
    aspect-ratio: 16 / 9;
    background-color: rgb(37, 33, 33);
}
.movie-details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
}
.movie-s-title{
    color: white;
    max-width: 500px;
    padding-right: 10px;
}
.movie-row{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.movie-row p{
    color: white;
    padding: 0 0px;
}
.movie-row > span{
    color: rgb(101, 104, 104);
    padding: 10px;
    font-weight: 700;
}
.movie-vote{
    display: flex;
}
.star{
    color: dodgerblue;
    font-size: 2.5rem;
}

.vote-avg{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 2px;
    padding: 0 2px;
    color: dodgerblue;
}
.vote-count{
   padding: 0 4px;
   color: gray;
}
.alike-movie-row{
    margin-top: 20px;
}
.h-col2{
    margin-top: 10px;
    padding: 10px 10px;
    color: white;
    font-weight: 500;
}
.alike-d-row{
    display: flex;
    gap: 5px;
    color: rgb(143, 143, 143);
}
footer{
    position: relative;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #131722;
    padding: 40px 0;
    text-align: center;

}
.adult{
    text-decoration: none;
}
.f-text{
    color: white;
    font-size: .9rem;

}
.alike-movie-row{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
}
.alike-movie-card{
   flex: 0 0 48.33%;
   max-width: 48.33%;
   text-decoration: none;
}
.alike-image{
    width: 100%;
}
.alike-genre{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.alike-movie-title{
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    font-size: .9rem;
}
.movie-col2{
    padding: 0 16px;
}

.movie-description{
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
}
.movie-poster{
   
}
.movie-desc-img{
    width: 250px;
}
.movie-desc{
    color: white;
    line-height: 2rem;
    letter-spacing: .1rem;
    max-width: 90%;
    padding-top: 10px;
    
    
}
@media(min-width:768px){
    .alike-movie-card{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .movie-description{
        flex-direction: row;
        justify-content: space-around;
    }
    .movie-poster{
        flex: 30%;
        max-width: 30%;
    }
}
@media(min-width: 570px){
    .video-container{
        padding: 20px;
    }
    iframe{
        margin: auto;
        aspect-ratio: 14 / 7;
    }
    .alike-movie-card{
        
        flex: 0 0 23.33%;
        max-width: 23.33%;
    }
    .movie-description{
        flex-direction: row;
        justify-content: space-between;
    }
    .movie-desc{
        margin: auto;
        padding: 0 20px;
    }
}
@media(min-width: 900px){
    iframe{
       max-width: 65.55%;
        margin: auto;
        aspect-ratio: 16 / 9;
    }
    .movie-desc{
        max-width: 60%;
        margin: auto;
    }
    .movie-description{
        margin-top: 20px;
    }
    .movie-details,
    .movie-description{
        padding-right: 30px;
        padding-left: 30px;
    }
    .alike-movie-title{
        max-width: 180px;
    }
}
@media(min-width: 1200px){
    iframe{
        max-width: 70.55%;
        margin: 10px auto;
        aspect-ratio: 16 / 9;
    }
    .alike-movie-card{
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .movie-details,
    .movie-description{
        padding-left: 100px;
        padding-right: 100px;
    }
    .h-col2{
        padding-left: 40px;
    }
}