/* THIS FILE CONTAIN THE STYLES TO THE POPULAR MOVIE SECTION */
@import url(./main.css);

:root {
  --pg-bg: rgb(235, 2, 2);
}

.popular-movie-section {
  position: relative;
  padding: 20px 0;
  background-color: #131722;
}
.popular-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-left: auto;
}

.header-title {
  color: var(--white);
  font-size: 2rem;
  padding: 20px 0;
}
.popular-header-inner::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: var(--gray-4);
  margin-top: 20px;
  margin-bottom: 8px;
}
.header-subtitle {
  color: rgb(201, 201, 201);
  font-size: var(--fs_12);
  margin-bottom: 30px;
}
.popular-action {
  position: relative;
  width: var(--fd_100);
  border-top: 1px solid var(--gray-4);
  padding: 10px 0;
}
.action-viewall {
  font-size: var(--fs_9);
  text-transform: uppercase;
  color: var(--gray-1);
  text-decoration: none;
}
.action-viewall > span {
  font-size: 1rem;
  padding-left: 6px;
}
.movie-thumbnail-wrapper {
  position: relative;
}
.action-viewall:hover {
  color: var(--white);
}
.popular-details {
  position: absolute;
  bottom: 1%;
  width: var(--fd_100);
  background-color: rgba(255, 255, 255, 0.904);
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.movie-thumbnail-wrapper:hover .popular-details {
  transform: translateY(0%);
  opacity: 1;
}
.movie-link {
  text-decoration: none;
}
.year-genre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(43, 43, 43);
  font-size: 0.9rem;
}
.pop-movie-title {
  color: var(--dodgerblue);
  padding: 6px 0;
  font-weight: 600px;
  font-size: var(--fs_1);
}
.d-col-1 {
  display: flex;
  gap: 4px;
}
.pg-wrapper {
  align-self: flex-start;
  margin-left: auto;
  padding: 1px 2px;
  background-color: var(--gray-1);
  border-radius: 3px;
  font-size: var(--fs_8);
  color: var(--white);
  font-weight: 600;
  border: none;
  outline: none;
}

/* MEDIA QUERIES TO THE POPULAR SECTION */
@media (min-width: 1200px) {
  .popular-header {
    flex: 0 0 28.57%;
    max-width: 28.57%;
    margin-right: 40px;
  }
}
@media (min-width: 991px) {
  .popular-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .popular-movie-row {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    flex-wrap: wrap;
    gap: 6px;
  }
  .popular-header {
    flex: 0 0 30.4%;
    max-width: 30.4%;
    margin-left: 10px;
    margin-right: 12px;
  }
  .movie-thumbnail {
    width: 180px;
  }
  .popular-movie-item {
    flex: 0 0 var(--fd_100);
  }
  .movie-thumbnail-wrapper {
    flex: 0 0 10%;
  }
  .popular-details {
    transform: translateY(0%);
    opacity: 0;
  }
}

@media (max-width: 990px) {
  .popular-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .popular-movie-row {
    flex-direction: column;
  }
  .popular-header {
    align-self: center;
    text-align: center;
    width: var(--fd_100);
  }
  .header-title {
    padding: 10px 0;
  }
  .popular-action {
    border: none;
  }
  .popular-action::before {
    content: "";
    display: block;
    height: 1px;
    width: var(--fd_100);
    background-color: var(--gray-4);
    margin-bottom: 20px;
  }
  .popular-header-inner::before {
    display: none;
  }
  .grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    place-items: center;
    grid-gap: 6px;
    margin-top: 30px;
  }
  .popular-header {
    grid-column: 1 / 3;
  }
  .movie-thumbnail {
    width: var(--fd_100);
  }
  .popular-details {
    transform: translateY(0);
    opacity: 1;
  }
  .pop-movie-title {
    font-size: var(--fs_1);
  }
}
@media (max-width: 470px) {
  .grid-items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .movie-thumbnail {
    width: var(--fd_100);
  }
  .header-title {
    font-size: var(--fs_18);
  }
  .header-subtitle {
    font-size: var(--fs_11);
  }
}
