
header{
    background-color: #f6f7f9;
    padding: 40px 10px 40px 10px;
}
.result-text{
    text-align: center;
    font-weight: 500;
}
.search-list-container{
    margin-top: 0px;
    padding: 0px;
}
.no-result-container{
    display: none;
}
.no-result-container.active{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 400;
    padding-top: 50px;
}
.no-result-img{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-search{
    font-size: 2.5rem;
    font-weight: 500;
}
.search-value{
    text-transform: capitalize;
}
.list-card-wrapper{
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;   
    cursor: pointer;
}
@media (max-width: 799px){
    .list-card-wrapper:nth-child(even){
        background-color: rgb(210, 210, 210);
    }
}
.list-card-wrapper:last-child{
    border-bottom: none;
}
.item-poster{
    width: 50px;
    aspect-ratio: 1 / 1.3;
    object-fit: cover;
    border-radius: 4px;
}
.row-card{
    display: flex;
    gap: 10px;
}
.item-sub-details{
    font-size: .8rem;
    margin-top: 4px;
}
.star{
    margin-top: 5px;
    font-size: .8rem;
    color: dodgerblue;
}
.votes-count{
    font-size: .7rem;
    margin-top: 7px;
}
.type{
    border-radius: 10px;
    padding: 1px 6px;
    background-color: #ff8bc1ba;
    
}
.type,
.genre,
.year{
    text-transform: capitalize;
    margin-top: 2px;
    font-size: .8rem;
}
@media(min-width: 800px){
    .flx-card{
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .list-card-wrapper{
       
    }
}
@media (min-width: 1100px){
    .flx-card{
        grid-template-columns: repeat(3, 1fr);
    }
}
