.tv-series-container{
    background-color: rgb(237, 237, 245);
    padding: 20px;
}

.tv-series-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.tv-header{
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
}
.tv-header h2{
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(18, 18, 19);
}
/* .tv-card{
    flex: 0 0 33.333;
} */

.img-tv{
    width: 100%;
    border-radius: 5px;
}
.img-tv:hover{
    background-color: rgb(4, 5, 5);
}
.tv-card{
   flex: 0 0 20%;
   max-width: 20%;
    text-decoration: none;
}
.tv-details{
    color: rgb(114, 114, 114);
}
.tv-title{
    font-size: .9rem;
    font-weight: 700;
    color: rgb(23, 14, 37);
}
.tv-row{
    display: flex;
    gap: 4px;
    margin: 4px 0;
    font-size: .8rem;
}
.tv-lang{
    text-transform: uppercase;
}

@media(min-width: 779px){
    .tv-series-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tv-series-row{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-start;
        padding: 0 20px;
        
    }
    .tv-header{
        flex: 0 0 38%;
        max-width: 38%;
        align-self: center;
        padding-right: 20px;
        position: relative;
        width: 140%;
        
    }
    .tv-header h2{
        text-align: left;
    }
    .tv-card{
        flex: 0 0 18.555%;
        max-width: 18.555%;
        position: relative;
        margin-bottom: 20px;
    }
    .img-tv{
        max-width: 100%;
    }   
}
@media (max-width: 500px){
    .img-tv{
        width: 150px;
    }
    .tv-series-container{
        padding: 20px 10px;
    }
}
@media (min-width: 998px){
    .tv-header h2{
        font-size: 2.2rem;
    }
}
 @media(max-width: 780px){
    .tv-img{
        
    }
    .tv-card{
        flex: 0 0 45%;
        max-width: 45%;
    }
} 