
.popular-movie-section{
    position: relative;
    padding: 20px 0;
    background-color: #131722;

}
.popular-container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-left: auto;
}
.popular-movie-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12.5px;
    margin-right: 12.5px;
}
.popular-header-inner{
    max-width: 40;
    flex: 0 0 40;
    position: relative;
    align-items: center;
    width: 100%;
    padding-left: 12.5px;
    padding-right: 12.5px;
}
.popular-header-inner::before{
    content: '';
    width: 50px;
    height: 1px;
    background-color: #a8a8a83d;
    display: block;
    margin-bottom: 20px;
}
.popular-header-inner::after{
    content: '';
    width: 250px;
    height: .8px;
    background-color: #a8a8a83d;
    display: block;
    margin-top: 20px;
}
.header-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 10px;
}
.header-subtitle{
    line-height: 20px;
    color: rgb(163, 162, 162);
    font-size: .8rem;
    font-weight: 500;
}
.popular-action{
    padding-left: 12.5px;
    padding-right: auto;
    margin-top: 10px;
    text-transform: uppercase;
}
.action-viewall{
    font-size: .7rem;
    text-decoration: none;
    color: rgb(187, 187, 187);
}
.action-viewall::after{
    content: '';
    background-image: url(assets/right-angle.svg);
    display: inline-block;
    font-size: 1rem;
    padding-left: px;
    height: 1em;
    width: 12px;
    background-repeat: no-repeat;
    background-position: 100% 91%;
}
.action-viewall:hover{
    color: white;
}
.popular-movie-item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
}
.movie-thumbnail-wrapper{
    margin-bottom: 8px;
    position: relative;
}
.movie-link{
    padding: 150% 0 0 0;
}
.movie-thumbnail{
    display: block;
    max-width: 100%;
    width: 300px;
    height: 450px;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    object-fit: cover;
    position: absolute;
}
img{
    height: ato;
}

@media(min-width: 992px){
    .popular-movie-item{
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media(min-width: 768px){
    .popular-movie-item{
        flex: 0 0 33.3333%;
        max-width: 33.333%;
    }
}
@media(min-width: 992px){
    .popular-movie-item{
        flex: 0 0 20%;
        max-width: 20%;
    }
}