
.popular-movie-section{
    position: relative;
    padding: 20px 0;
    background-color: #131722;

}
.popular-container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-left: auto;
}

.header-title{
    color: white;
    font-size: 2rem;
    padding: 20px 0;
}
.popular-header-inner::before{
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #79797a;
    margin-top: 20px;
    margin-bottom: 8px;
}
.header-subtitle{
    color: rgb(201, 201, 201);
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.popular-action{
    position: relative;
    width: 100%;
    border-top: 1px solid gray;
    padding: 10px 0;
}
.action-viewall{
    font-size: .8rem;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
    text-decoration: none;
}
.action-viewall > span{
    font-size: 1rem;
    padding-left: 6px;
}
.movie-thumbnail-wrapper{
    position: relative;
}
.action-viewall:hover{
    color: white;
}
.popular-details{
    position: absolute;
    bottom: 1%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.904);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
    opacity: 0;
}
.movie-thumbnail-wrapper:hover .popular-details{
    transform: translateY(0%);
    opacity: 1;
}
.movie-link{
    text-decoration: none;
}
.year-genre{
    display: flex;
    gap: 6px;
    color: rgb(43, 43, 43);
    font-size: .9rem;
}
.pop-movie-title{
    color: dodgerblue;
    padding: 6px 0;
    font-weight: 600px;
    font-size: 1.1rem;
}
@media(min-width: 1200px){
    .popular-header{
        flex: 0 0 28.57%;
        max-width: 28.57%;
        margin-right: 40px;
    }
   
}
@media(min-width: 991px){
    .popular-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .popular-movie-row{
        display: flex;
        margin-left: 12px;
        margin-right: 12px;
        flex-wrap: wrap;
        gap: 6px;
    }
    .popular-header{
        flex: 0 0 30.4%;
        max-width: 30.4%;
        margin-left: 10px;
        margin-right: 12px;
        
    }
    .movie-thumbnail{
        width: 180px;
    }
    .popular-movie-item{
        flex: 0 0 100%
    }
    .movie-thumbnail-wrapper{
        flex: 0 0 10%;
    }
    .popular-details{
        transform: translateY(0%);
        opacity: 0;
    } 
}

@media(max-width: 990px){
    .popular-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .popular-movie-row{
        flex-direction: column;
    }
    .popular-header{
        align-self: center;
        text-align: center;
        width: 100%;
    }
    .header-title{
        padding: 10px 0;
    }
    .popular-action{
        border: none;
    }
    .popular-action::before{
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: gray;
        margin-bottom: 20px;
    }
    .popular-header-inner::before {
        display: none;
       
    }
    .grid-items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        place-items: center;
        grid-gap: 6px;
        margin-top: 30px;
    }
    .popular-header{
        grid-column: 1 / 3;
    }
    .movie-thumbnail{
        width: 100%;
    }
    .popular-details{
        transform: translateY(0);
        opacity: 1;
    }
   
   
}
 @media (max-width: 470px) {
        .grid-items{
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
        }
        .movie-thumbnail{
            width: 100%;
        }
}